.hero {
  display: grid;
  place-items: center;
  height: 80vh;
  background: url('/images/high-res/google-deepmind-ryxY5haw8xg-unsplash.jpg')
    no-repeat center center/cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #000;
  font-size: xx-large;
  gap: 16px;
  background-color: #fff;
  padding: 12px;
  border-radius: 10px;
}

.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0c1580;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 24px;
}
